<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="connectionString"   connectionString ="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\Boss4.0-2010\ThreeLayer\Dx三层\Dx.Activex.Web\App_Data\Database1.mdf;Integrated Security=True;User Instance=True"/>
    <add name="connectionString2"   connectionString ="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\Boss4.0-2010\ThreeLayer\Dx三层\Dx.Activex.Web\App_Data\Database2.mdf;Integrated Security=True;User Instance=True"/>

  </connectionStrings>

</configuration>